* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    /*o "none" neste "list-style" vai tirar os pontinhos que ficam em cada lista*/
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*aqui é a declaração de variáveis das cores que vou utilizar*/
:root {
    --verde: #CBB927;
    --amarelo: #ffa300;
    --laranja: #d95301;
    --laranjaclaro: #fdd673;

}

/*aqui não funcionou a cor*/
.background-laranja {
    background: #FEECCC;
    width: 100%;
    height: 150px;
}

/*classes reutilizáveis*/
.container {
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}

/*classes do site*/
/*A Nav é uma tag*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/*Como é uma classe, precisamos do ponto*/
.logo a {
    font-size: 40px;
    /*grossura da fonte*/
    font-weight: bold;
}

.logo .parte1 {
    color: var(--verde);
}

.logo .parte2 {
    color: var(--laranja);
}

.ul .gestaopets {
    padding: 10px 25px;
    background-color: var(--amarelo);
    margin: 0 35px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.ul .textogestao {
    align-items: center;
    justify-content: center;
    color: var(--amarelo);
    text-align: center;
}

.background-adocao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* position: relative;*/
}

.ul .adote {
    border: 2px solid var(--verde);
    border-radius: 10px;
    padding: 10px 25px;
    background-color: white;
    margin: 10px 35px 20px 35px;
    /* margem em cima, direita, embaixo e esquerda */
    font-size: 30px;
    color: var(--verde);
    width: 300px;
}

.container_opcoespets {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    justify-content: space-around;
    align-items: center;
}

.coluna {
    background-color: white;
    margin: 20px;
    height: 250px;
    border-radius: 10px;
    /* cantos arredondados como na segunda imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* sombra suave */
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

/* Dedica-se ao container da imagem, adquando a imagem ao container*/
.foto1 {
    width: 100%;
    height: 160px;
    /* altura um pouco maior para caber o cachorro inteiro */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

/* Dedica-se a imagem propriamente dita*/
.foto1 img {
    /* Garante que a imagem se comporte como um bloco, e não como um texto */
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    /* Mostra a imagem preenchendo o espaço */
    display: block;
    /* Garante que a imagem se comporte como um bloco, e não como um texto */
}

.informacoespet{
    margin: 4px 0 4px;
    text-align: left;
}

.informacoespet .nome {
    font-size: 18px;
    /* o bold deixa em negrito */
    font-weight: bold;
}


.queroadotar {
    padding: 6px 16px;
    font-size: 14px;
    margin: 10px auto 0; /* isso centraliza horizontalmente */
    background-color: var(--laranja);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}